:root {
  /* Colour palette */
  --color-neutral-darkest: hsl(216, 12%, 16%);
  --color-neutral-dark: hsl(216, 12%, 40%);
  --color-neutral: hsl(216, 12%, 64%);
  --color-neutral-light: hsl(216, 12%, 84%);
  --color-neutral-lightest: hsl(216, 12%, 96%);

  /* Colour assignments */
  --color-background: white;
  --color-text: var(--color-neutral-darkest);
  --color-link: var(--color-accent);
  --color-delete: hsla(0, 100%, 80%, 0.75);
  --color-highlight: hsla(60, 100%, 80%, 0.75);
  --color-insert: hsla(120, 100%, 80%, 0.75);
  --color-focus: var(--color-accent);
  --color-error: hsl(0, 100%, 40%);

  /* Typography */
  --font-family-system: system-ui, -apple-system, sans-serif;
  --font-family-monospace: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo', monospace;
  --font-size-title: calc(1.75rem + 1vw);
  --font-size-heading: calc(1.125rem + 0.5vw);
  --font-size-subhead: calc(1rem + 0.5vw);
  --font-size-body: calc(0.875rem + 0.5vw);
  --font-size-reference: calc(0.75rem + 0.25vw);
  --font-size-default: 1rem;
  --line-height-solid: 1em;
  --line-height-tight: calc(1.25em + 0.25vw);
  --line-height-loose: calc(1.4em + 0.25vw);
  --word-spacing: 0;

  /* Borders */
  --border-radius-xsmall: 0.125rem;
  --border-radius-small: 0.25rem;
  --border-width-thin: 1px;
  --border-width-thick: 0.125rem;
  --border-width-thickest: 0.5rem;

  /* Sizing */
  --size-icon-small: 1rem;
  --size-icon-medium: 2rem;
  --size-icon-large: 3rem;

  /* Spacing > Block */
  --space-block-large: 3rem;
  --space-block-medium: 1.5rem;
  --space-block-small: 0.5rem;
  --space-block-xsmall: 0.25rem;

  /* Spacing > Inline */
  --space-inline-xsmall: 0.25rem;
  --space-inline-small: 0.375rem;
  --space-inline: 0.75rem;

  /* Inset spacing */
  --inset: 0.75rem;
  --inset-squished: calc(var(--inset) / 2) var(--inset);
  --inset-small: calc(var(--inset) / 2);
  --inset-small-squished: calc(var(--inset-small) / 2) var(--inset-small);
  --inset-large: calc(var(--inset) * 2);
  --inset-large-squished: calc(var(--inset-large) / 2) var(--inset-large);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: black;
    --color-neutral-lightest: hsl(216, 12%, 16%);
    --color-neutral-light: hsl(216, 12%, 48%);
    --color-neutral-dark: hsl(216, 12%, 84%);
    --color-neutral-darkest: hsl(216, 12%, 96%);

    /* Typography */
    --word-spacing: 0.05em;
  }
}
