# Logs
logs
*.log
npm-debug.log*

# Temporary files
.cache
.data

# Compiled files
packages/app/static/app.css

# Testing and coverage
.ava_output
.nyc_output
coverage

# Dependencies
node_modules/
package-lock.json

# SSL
ssl

# Environment variables
.env
