# Logs
logs
*.log
npm-debug.log*

# Temporary files
.cache
.data

# Testing and coverage
coverage
.ava_output
.nyc_output

# Dependencies
node_modules/
packages/*/package-lock.json

# Environment variables
.env
