.footer {
  color: var(--color-neutral-dark);
  display: flex;
  font-size: var(--font-size-reference);
  justify-content: flex-end;
  margin: 0 var(--space-block-medium);
  padding: var(--space-block-medium) 0;
}

.footer a {
  padding: var(--inset-small-squished);
}
