.preview {
  background-color: var(--color-neutral-lightest);
  border-radius: var(--border-radius-small);
  padding: var(--inset);
}

.preview > * + * {
  margin-block-start: var(--space-block-small);
}

.preview output.empty {
  color: var(--color-neutral-light);
}

.preview__title {
  @extend %subhead;
}

.preview__content,
.preview__href {
  @extend %body;
}

.preview__date {
  @extend %reference;
  color: var(--color-neutral-dark);
}
