.fieldset {
  --flow-space: 0.75em;
  --list-display: list-item;
  --linear-measure: var(--line-measure);
  @extend %body;
  max-width: 45rem;
}

@media (--from-medium-viewport) {
  .fieldset {
    padding-left: calc(var(--size-icon-small) + var(--space-inline-small) + var(--inset-small));
  }
}

.fieldset__title {
  @extend %title;
  --flow-space: var(--space-block-medium);
}