.fieldset {
  @extend %body;
  max-width: 45rem;
}

.fieldset > * + * {
  margin-block-start: var(--space-block-medium);
}

@media (--from-medium-viewport) {
  .fieldset {
    padding-left: calc(var(--size-icon-small) + var(--space-inline-small) + var(--inset-small));
  }
}

.fieldset__title {
  @extend %title;
  padding-block-end: var(--space-block-large);
}

.fieldset__parent {
  @extend %label;
  color: var(--color-neutral);
  display: block;
  font-weight: 500;
  padding-block-end: var(--space-block-xsmall);
}
