.debug {
  --flow-space: var(space-block-medium);
  background-color: var(--color-neutral-lightest);
  border: 1px solid var(--color-neutral-light);
  border-radius: var(--border-radius-small);
  margin: var(--space-block-small);
  max-block-size: 33vh;
  padding: var(--inset);
  overflow: scroll;
}
