.preview {
  background-color: var(--color-neutral-lightest);
  border-radius: var(--border-radius-small);
  padding: var(--inset);
}

.preview > * + * {
  margin-block-start: var(--space-block-small);
}

.preview__title {
  @extend %subhead;
}

.preview__content {
  @extend %body;
}

.preview__date {
  @extend %reference;
}
