:root {
  /* Colour palette */
  --color-neutral-darkest: hsl(216, 12%, 16%);
  --color-neutral-dark: hsl(216, 12%, 40%);
  --color-neutral: hsl(216, 12%, 64%);
  --color-neutral-light: hsl(216, 12%, 84%);
  --color-neutral-lightest: hsl(216, 12%, 96%);

  /* Colour assignments */
  --color-background: white;
  --color-text: var(--color-neutral-darkest);
  --color-text-decoration: hsla(216, 12%, 0%, 0.25);
  --color-link: var(--color-accent);
  --color-delete: hsla(0, 100%, 80%, 0.75);
  --color-highlight: hsla(60, 100%, 80%, 0.75);
  --color-insert: hsla(120, 100%, 80%, 0.75);
  --color-focus: var(--color-accent);
  --color-error: hsl(0, 100%, 40%);
  --color-success: hsl(150, 100%, 80%);

  /* Typography */
  --font-family-system: system-ui, -apple-system, sans-serif;
  --font-family-monospace: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo', monospace;
  --font-size-title: calc(1.75rem + 1vw);
  --font-size-heading: calc(1.125rem + 0.5vw);
  --font-size-subhead: calc(1rem + 0.25vw);
  --font-size-body: calc(0.875rem + 0.5vw);
  --font-size-reference: calc(0.75rem + 0.25vw);
  --font-size-default: 1rem;
  --line-height-solid: 1em;
  --line-height-tight: calc(1.25em + 0.25vw);
  --line-height-loose: calc(1.4em + 0.25vw);
  --word-spacing: 0;
  --line-measure: 45rem;

  /* Borders */
  --border-radius-xsmall: 0.125rem;
  --border-radius-small: 0.25rem;
  --border-width-thin: 1px;
  --border-width-thick: 0.125rem;
  --border-width-thickest: 0.5rem;

  /* Sizing */
  --size-icon-small: 1rem;
  --size-icon-medium: 2rem;
  --size-icon-large: 3rem;

  /* Spacing > Block */
  --space-block-large: 3rem;
  --space-block-medium: 1.5rem;
  --space-block: 0.75rem;
  --space-block-small: 0.5rem;
  --space-block-xsmall: 0.25rem;

  /* Spacing > Inline */
  --space-inline-large: 3rem;
  --space-inline-medium: 1.5rem;
  --space-inline-small: 0.375rem;
  --space-inline: 0.75rem;
  --space-inline-xsmall: 0.25rem;

  /* Inset spacing */
  --inset: 0.75rem;
  --inset-squished: calc(var(--inset) / 2) var(--inset);
  --inset-small: calc(var(--inset) / 2);
  --inset-small-squished: calc(var(--inset-small) / 2) var(--inset-small);
  --inset-large: calc(var(--inset) * 2);
  --inset-large-squished: calc(var(--inset-large) / 2) var(--inset-large);
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: black;
    --color-neutral-lightest: hsl(216, 12%, 16%);
    --color-neutral-light: hsl(216, 12%, 48%);
    --color-neutral-dark: hsl(216, 12%, 84%);
    --color-neutral-darkest: hsl(216, 12%, 96%);

    /* Typography */
    --word-spacing: 0.05em;
  }
}
/*
 * Embedded content
 * ================
 * https://w3c.github.io/html/semantics-embedded-content
 */
img,
embed,
object {
  display: block;
  page-break-inside: avoid;
}
img,
object {
  block-size: auto;
  max-inline-size: 100%;
}
/*
 * Forms
 * =====
 * https://w3c.github.io/html/sec-forms
 */
button,
input,
select,
textarea {
  display: block;
  font: inherit;
  margin: 0;
}
/*
 * 1. Correct inability to style clickable types in Safari
 * 2. Reset appearance
 */
button,
[type=button],
[type=submit] {
  -webkit-appearance: button; /* 1 */
  background: none;
  border: 0; /* 2 */
  padding: 0; /* 2 */
}
/*
 * 1. Correct odd appearance in Chrome and Safari
 * 2. Correct outline style in Safari
 */
[type="search"] {
  -webkit-appearance: none; /* 1 */
  border-radius: 0; /* 1 */
  outline-offset: 0; /* 2 */
}
/*
 * Remove inner padding in Chrome and Safari on macOS
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * http://thatemil.com/blog/2015/01/03/reset-your-fieldset/
 * 1. Reset minimum width based on content inside fieldset
 *    in WebKit, Blink and Firefox
 * 2. Adjust display mode to ensure [1] works in Firefox
 * 3. Remove default margin and border
 * 4. Fix margin-collapsing behavior coupled with rendering
 *    of legend element
 */
fieldset {
  border: 0; /* 3 */
  margin: 0; /* 3 */
  min-inline-size: 0; /* 1 */
  padding: 0.01em 0 0; /* 4 */
}
body:not(:-moz-handler-blocked) fieldset {
  display: table-cell; /* 2 */
}
/*
 * 1. Correct text wrapping in Edge and IE
 * 2. Correct `fieldset` color inheritance in IE
 * 3. Remove padding so developers are not caught out when
 *    they zero out `fieldset` elements
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-inline-size: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
/*
 * Grouping content
 * ================
 * https://w3c.github.io/html/grouping-content
 */
hr {
  border: 0;
}
pre {
  hanging-punctuation: none;
  hyphens: none;
  tab-size: 2;
  white-space: pre;
}
figure,
blockquote,
p,
dl,
ol,
ul,
address {
  margin: 0;
  orphans: 2;
  widows: 2;
}
dl,
ol,
ul {
  margin: 0;
  padding: 0;
}
li {
  display: var(--list-display, block);
  margin-inline-start: var(--flow-inset, 0);
}
dd {
  margin-inline-start: var(--flow-inset, 0);
}
dd + dt {
  margin-block-start: calc(var(--flow-space, 0) / 2);
}
/*
 * Sections
 * ========
 * https://w3c.github.io/html/sections
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
::selection {
  background-color: var(--color-highlight);
}
:focus {
  outline-color: var(--color-focus);
}
html {
  block-size: 100vh;
  scroll-behavior: smooth;
}
body {
  background-color: var(--color-background);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-system);
  margin: 0;
  min-block-size: 100vh;
  text-rendering: optimizeSpeed;
}
h1,h2,h3,h4,h5,h6,legend {
  break-after: avoid;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  text-rendering: optimizeLegibility;
}
/*
 * Tablular data
 * =============
 * https://w3c.github.io/html/tabular-data
 */
table {
  border-spacing: 0;
  break-inside: avoid;
  font-size: inherit;
  font-variant-numeric: tabular-nums diagonal-fractions;
}
tr {
  break-inside: avoid;
}
td,
th {
  text-align: start;
  vertical-align: top;
}
thead th {
  font-weight: 600;
}
tbody th {
  font-weight: normal;
}
/*
 * Text-level semantics
 * ====================
 * https://w3c.github.io/html/textlevel-semantics
 */
a {
  color: inherit;
  -webkit-text-decoration-color: var(--color-text-decoration);
  text-decoration-color: var(--color-text-decoration);
}
a:hover {
  color: inherit;
  -webkit-text-decoration-color: currentColor;
  text-decoration-color: currentColor;
}
a[aria-current] {
  font-weight: 500;
}
a[class] {
  text-decoration: none;
}
/* Reset font size for smallprint/legal text */
small {
  font-size: 100%;
}
/* Correct text decoration in Chrome/Edge/IE/Opera/Safari */
abbr[title] {
  text-decoration: none;
}
/* Prevent `sub` and `sup` from affecting line height */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  inset-block-end: -0.25em;
}
sup {
  inset-block-start: -0.5em;
}
cite {
  font-style: italic;
}
code,
samp,
var {
  font-family: var(--font-family-monospace);
  font-size: 85%;
  hanging-punctuation: none;
}
del {
  background-color: var(--color-delete);
}
ins {
  background-color: var(--color-insert);
  text-decoration: none;
}
mark {
  background-color: var(--color-highlight);
}
.article {
  --flow-inset: 1.5em;
  --flow-space: 0.75em;
  --list-display: list-item;
}
.article {
  font-size: var(--font-size-body);
  font-variant: oldstyle-nums;
  hanging-punctuation: first;
  hyphens: auto;
  line-height: var(--line-height-loose);
  word-spacing: var(--word-spacing);
}
.article {
  flex: 1;
  margin: 0 var(--space-block-medium);
  padding: var(--space-block-medium) 0;
}
.article > *:not([class]) {
  max-inline-size: var(--line-measure);
}
.article > * + * {
  margin-block-start: var(--space-block-medium);
}
@media (min-width: 48em) {
  .article {
    padding-left: calc(var(--size-icon-small) + var(--space-inline-small) + var(--inset-small));
  }
}
.article__title {
  font-size: var(--font-size-title);
  font-weight: 700;
  hanging-punctuation: first;
  line-height: var(--line-height-solid);
}
.article__title {
  padding-block-end: var(--space-block-medium);
}
.article__parent {
  font-size: var(--font-size-body);
  font-weight: 700;
  hanging-punctuation: first;
  line-height: var(--line-height-tight);
}
.article__parent {
  color: var(--color-neutral);
  display: block;
  font-weight: 500;
  padding-block-end: var(--space-block-xsmall);
}
.article h3 {
  font-size: var(--font-size-heading);
  font-weight: 700;
  hanging-punctuation: first;
  line-height: var(--line-height-tight);
}
.article h3 {
  margin-block-start: var(--space-block-large);
}
.article h4 {
  font-size: var(--font-size-subhead);
  font-weight: 500;
  hanging-punctuation: first;
  line-height: var(--line-height-tight);
}
.article h4 {
  --flow-space: var(--space-block-xsmall);
}
.article pre {
  --flow-space: var(space-block-medium);
  background-color: var(--color-neutral-lightest);
  border-radius: var(--border-radius-small);
  margin: var(--space-block-medium) 0;
  padding: var(--inset-squished);
  overflow: scroll;
  max-inline-size: auto;
}
.article pre code {
  background-color: none;
  padding: 0;
}
.article dt {
  font-weight: 500;
}
.article dl,
.article ol,
.article ul {
  padding: 0;
}
.article code,
.article samp {
  border-radius: var(--border-radius-small);
  hanging-punctuation: none;
}
.article code {
  background-color: var(--color-neutral-lightest);
  padding: var(--inset-small-squished);
}
.article .language-bash {
  background-color: var(--color-neutral-darkest);
  color: var(--color-neutral-lightest);
  font-size: 85%;
  line-height: var(--line-height-tight);
  max-inline-size: unset;
}
.banner {
  background-color: var(--color-neutral-lightest);
  margin-block-start: calc(var(--border-width-thin) * -1);
  padding: var(--space-block) var(--space-inline-medium);
}
.banner--success {
  background-color: var(--color-success);
}
.banner > * + * {
  margin-block-start: var(--space-block-xsmall);
}
.banner__body {
  font-size: var(--font-size-reference);
  font-variant: oldstyle-nums;
  hanging-punctuation: first;
  hyphens: auto;
  line-height: var(--line-height-loose);
  word-spacing: var(--word-spacing);
}
.banner__body {
  align-items: start;
  display: flex;
}
@media (min-width: 48em) {
  .banner__body {
    padding-left: calc(var(--size-icon-small) + var(--space-inline-small) + var(--inset-small));
  }
}
.banner__icon {
  flex: 0 0 auto;
  margin: var(--space-block-xsmall) 0;
  margin-inline-end: var(--space-inline-small);
}
.banner__text {
  flex: 1 1 auto;
}
.bookmarklet {
  font-size: var(--font-size-reference);
  font-variant: oldstyle-nums;
  hanging-punctuation: first;
  hyphens: auto;
  line-height: var(--line-height-loose);
  word-spacing: var(--word-spacing);
}
.bookmarklet {
  background-color: var(--color-neutral-lightest);
  border-radius: var(--border-radius-small);
  display: inline-block;
  padding: var(--inset-small-squished);
  margin: var(--space-block-xsmall) 0;
  white-space: nowrap;
}
.button {
  color: var(--color-background);
  background-color: var(--color-neutral-dark);
  border-radius: var(--border-radius-small);
  display: inline-block;
  padding: var(--inset-squished);
}
.button:hover {
  background-color: var(--color-accent);
  color: var(--color-background);
}
.console {
  --flow-space: var(space-block-medium);
  background-color: var(--color-neutral-lightest);
  border: solid var(--color-neutral-light);
  border-width: 0 0 var(--border-width-thin) 0;
  display: none;
  margin: 0;
  max-block-size: 33vh;
  position: relative;
  overflow: scroll;
}
.console:target {
  display: block;
}
.console__close {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-body);
  line-height: var(--line-height-solid);
  padding: var(--inset-squished);
  right: 0;
  position: absolute;
}
.console pre {
  padding: var(--inset-squished);
  white-space: pre-wrap;
  word-break: break-all;
}
@supports (inset: 0) {
  .console {
    border-width: var(--border-width-thin) 0 0 0;
    inset: auto 0 0 0;
    position: fixed;
  }

  .console__close {
    inset: 0 0 auto auto;
  }
}
.error-message {
  font-size: var(--font-size-reference);
  font-variant: oldstyle-nums;
  hanging-punctuation: first;
  hyphens: auto;
  line-height: var(--line-height-loose);
  word-spacing: var(--word-spacing);
}
.error-message {
  color: var(--color-error);
  font-weight: 500;
}
.error-message__label {
  block-size: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  inline-size: 1px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}
.error-summary {
  border-inline-start-color: var(--color-error);
  border-inline-start-width: var(--border-width-thick);
  border-inline-start-style: solid;
  padding-inline-start: var(--space-inline);
}
.error-summary > * + * {
  margin-block-start: var(--space-block-small);
}
.error-summary__title {
  font-size: var(--font-size-body);
  font-weight: 700;
  hanging-punctuation: first;
  line-height: var(--line-height-tight);
}
.error-summary__body {
  font-size: var(--font-size-reference);
  font-variant: oldstyle-nums;
  hanging-punctuation: first;
  hyphens: auto;
  line-height: var(--line-height-loose);
  word-spacing: var(--word-spacing);
}
.error-summary__body {
  font-weight: 500;
}
.fieldset {
  font-size: var(--font-size-body);
  font-variant: oldstyle-nums;
  hanging-punctuation: first;
  hyphens: auto;
  line-height: var(--line-height-loose);
  word-spacing: var(--word-spacing);
}
.fieldset {
  max-width: 45rem;
}
.fieldset > * + * {
  margin-block-start: var(--space-block-medium);
}
@media (min-width: 48em) {
  .fieldset {
    padding-left: calc(var(--size-icon-small) + var(--space-inline-small) + var(--inset-small));
  }
}
.fieldset__title {
  font-size: var(--font-size-title);
  font-weight: 700;
  hanging-punctuation: first;
  line-height: var(--line-height-solid);
}
.fieldset__title {
  padding-block-end: var(--space-block-large);
}
.fieldset__parent {
  font-size: var(--font-size-body);
  font-weight: 700;
  hanging-punctuation: first;
  line-height: var(--line-height-tight);
}
.fieldset__parent {
  color: var(--color-neutral);
  display: block;
  font-weight: 500;
  padding-block-end: var(--space-block-xsmall);
}
.footer {
  color: var(--color-neutral-dark);
  display: flex;
  font-size: var(--font-size-reference);
  justify-content: flex-end;
  margin: 0 var(--space-block-medium);
  padding: var(--space-block-medium) 0;
}
.footer a {
  padding: var(--inset-small-squished);
}
.header {
  align-items: center;
  border-bottom: var(--border-width-thin) solid var(--color-neutral-lightest);
  display: flex;
  flex-wrap: wrap;
  margin: 0 var(--space-block-medium);
  padding: var(--space-block-medium) 0;
}
.header a {
  align-items: center;
  display: inline-flex;
  padding: var(--inset-small-squished);
}
.header__title {
  align-items: center;
  display: inline-flex;
  font-size: var(--font-size-default);
  font-weight: 800;
}
.header__title svg {
  block-size: var(--size-icon-small);
  inline-size: var(--size-icon-small);
  margin-inline-end: var(--space-inline-small);
}
.header__description {
  color: var(--color-neutral-dark);
  margin-inline-end: auto;
  padding: var(--inset-small-squished);
}
.hint {
  font-size: var(--font-size-reference);
  font-variant: oldstyle-nums;
  hanging-punctuation: first;
  hyphens: auto;
  line-height: var(--line-height-loose);
  word-spacing: var(--word-spacing);
}
.hint {
  color: var(--color-neutral-dark);
}
.input {
  border: var(--border-width-thick) solid var(--color-neutral);
  border-radius: var(--border-radius-small);
  padding: var(--inset-squished);
  margin-block-start: var(--space-block-small);
  width: 100%;
}
.input[readonly] {
  border-color: var(--color-neutral-light);
  color: var(--color-neutral-dark);
}
.input[type="color"] {
  padding: var(--inset-small);
  min-block-size: 3rem;
}
.input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
.input--error {
  border-color: var(--color-error);
}
.input--width-30 {
  max-width: 45ch;
}
.input--width-20 {
  max-width: 30ch;
}
.input--width-10 {
  max-width: 15ch;
}
.input--width-5 {
  max-width: 7.5ch;
}
.input--width-2 {
  max-width: 3ch;
}
.label {
  font-size: var(--font-size-body);
  font-weight: 700;
  hanging-punctuation: first;
  line-height: var(--line-height-tight);
}
.label {
  display: block;
}
.preview {
  background-color: var(--color-neutral-lightest);
  border-radius: var(--border-radius-small);
  padding: var(--inset);
}
.preview > * + * {
  margin-block-start: var(--space-block-small);
}
.preview output.empty {
  color: var(--color-neutral-light);
}
.preview__title {
  font-size: var(--font-size-subhead);
  font-weight: 500;
  hanging-punctuation: first;
  line-height: var(--line-height-tight);
}
.preview__content,
.preview__href {
  font-size: var(--font-size-body);
  font-variant: oldstyle-nums;
  hanging-punctuation: first;
  hyphens: auto;
  line-height: var(--line-height-loose);
  word-spacing: var(--word-spacing);
}
.preview__date {
  font-size: var(--font-size-reference);
  font-variant: oldstyle-nums;
  hanging-punctuation: first;
  hyphens: auto;
  line-height: var(--line-height-loose);
  word-spacing: var(--word-spacing);
}
.preview__date {
  color: var(--color-neutral-dark);
}
.select {
  border: var(--border-width-thick) solid var(--color-neutral);
  border-radius: var(--border-radius-small);
  block-size: 3rem;
  margin-block-start: var(--space-block-small);
  padding: var(--inset-squished);
  width: 100%;
}
.select--error {
  border-color: var(--color-error);
}
.summary {
  --flow-inset: 0;
  margin-block-end: var(--space-block-large);
}
.summary > * + * {
  margin-block-start: var(--space-block-small);
}
.summary__header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}
.summary__title {
  font-size: var(--font-size-body);
  font-weight: 700;
  hanging-punctuation: first;
  line-height: var(--line-height-tight);
}
.summary__row {
  border-block-start-width: var(--border-width-thin);
  border-block-start-style: solid;
  border-block-start-color: var(--color-neutral-light);
  line-height: var(--line-height-tight);
  padding-block-end: var(--space-block-xsmall);
  padding-block-start: var(--space-block-xsmall);
}
@media (min-width: 30em) {
  .summary__row {
    align-items: baseline;
    display: flex;
  }
}
.summary__key {
  flex: 1;
  padding-inline-end: var(--space-inline);
  max-inline-size: 15rem;
}
.summary__value {
  color: var(--color-neutral-dark);
  flex: 2;
  padding-inline-end: var(--space-inline);
  word-break: break-word;
}
.summary__actions {
  margin-inline-start: auto;
}
.textarea {
  border: var(--border-width-thick) solid var(--color-neutral);
  border-radius: var(--border-radius-small);
  padding: var(--inset-squished);
  margin-block-start: var(--space-block-small);
  width: 100%;
}
.textarea[readonly] {
  border-color: var(--color-neutral-light);
  color: var(--color-neutral-dark);
}
.textarea--error {
  border-color: var(--color-error);
}
.visually-hidden {
  block-size: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  inline-size: 1px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}
.header-anchor {
  font-family: var(--font-family-monospace);
  float: left;
  inline-size: var(--font-size-default);
  margin-inline-start: calc(var(--font-size-default) * -1);
  opacity: 0;
  text-decoration: none;
}
*:hover > .header-anchor {
  color: inherit;
  opacity: 0.5;
}
.token {
  --color-token-comment: var(--color-neutral);
  --color-token-operator: var(--color-neutral-dark);
  --color-token-function: #900;
  --color-token-keyword: #09c;
  --color-token-selector: #009;
  --color-token-string: #c06;
  --color-token-variable: #399;
}
@media (prefers-color-scheme: dark) {
  .token {
    --color-token-function: #f99;
    --color-token-keyword: #0cf;
    --color-token-selector: #99f;
    --color-token-string: #f09;
    --color-token-variable: #9ff;
  }
}
.token.namespace {
  opacity: 0.7;
}
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: var(--color-token-comment);
  font-style: italic;
}
.token.operator,
.token.punctuation {
  color: var(--color-token-operator);
}
.token.deleted,
.token.function {
  color: var(--color-token-function);
}
.token.atrule,
.token.attr-name,
.token.keyword {
  color: var(--color-token-keyword);
}
.token.selector,
.token.tag {
  color: var(--color-token-selector);
}
.token.attr-value,
.token.string {
  color: var(--color-token-string);
}
.token.boolean,
.token.constant,
.token.entity,
.token.inserted,
.token.number,
.token.property,
.token.regex,
.token.symbol,
.token.url,
.token.variable {
  color: var(--color-token-variable);
}
.token.bold,
.token.function,
.token.important {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.form {
  flex: 1;
  margin: 0 var(--space-block-medium);
  padding: var(--space-block-medium) 0;
}
.form__field--error {
  border-inline-start-color: var(--color-error);
  border-inline-start-width: var(--border-width-thick);
  border-inline-start-style: solid;
  padding-inline-start: var(--space-inline);
}
