.content {
  --flow-inset: 1.5em;
  --flow-space: 0.75em;
  --list-display: list-item;
  --linear-measure: var(--line-measure);
  @extend %body;
  max-width: 45rem;
}

@media (--from-medium-viewport) {
  .content {
    padding-left: calc(var(--size-icon-small) + var(--space-inline-small) + var(--inset-small));
  }
}

.content h2 {
  @extend %title;
  --flow-space: var(--space-block-medium);
}

.content h3 {
  @extend %heading;
  --flow-space: var(--space-block-small);
}

.content h4 {
  @extend %subhead;
  --flow-space: var(--space-block-xsmall);
}

.content pre {
  --flow-space: var(space-block-medium);
  background-color: var(--color-neutral-lightest);
  border-radius: var(--border-radius-small);
  margin: var(--space-block-small) 0;
  padding: var(--inset-small);
  overflow: scroll;
}

.content pre code {
  background-color: none;
  padding: 0;
}

.content dt {
  font-weight: 500;
}

.content dl,
.content ol,
.content ul {
  padding: 0;
}

.content code,
.content samp {
  border-radius: var(--border-radius-small);
  font-size: 85%;
  hanging-punctuation: none;
}

.content code {
  background-color: var(--color-neutral-lightest);
  padding: var(--inset-small-squished);
}
