.article {
  --flow-inset: 1.5em;
  --flow-space: 0.75em;
  --list-display: list-item;
  --linear-measure: var(--line-measure);
  @extend %body;
  flex: 1;
  margin: 0 var(--space-block-small);
  max-width: 45rem;
  padding: var(--space-block-small) 0;
}

@media (--from-medium-viewport) {
  .article {
    padding-left: calc(var(--size-icon-small) + var(--space-inline-small) + var(--inset-small));
  }
}

.article h2 {
  @extend %title;
  --flow-space: var(--space-block-medium);
}

.article h3 {
  @extend %heading;
  --flow-space: var(--space-block-small);
}

.article h4 {
  @extend %subhead;
  --flow-space: var(--space-block-xsmall);
}

.article pre {
  --flow-space: var(space-block-medium);
  background-color: var(--color-neutral-lightest);
  border-radius: var(--border-radius-small);
  margin: var(--space-block-small) 0;
  padding: var(--inset-small);
  overflow: scroll;
}

.article pre code {
  background-color: none;
  padding: 0;
}

.article dt {
  font-weight: 500;
}

.article dl,
.article ol,
.article ul {
  padding: 0;
}

.article code,
.article samp {
  border-radius: var(--border-radius-small);
  font-size: 85%;
  hanging-punctuation: none;
}

.article code {
  background-color: var(--color-neutral-lightest);
  padding: var(--inset-small-squished);
}
