.article {
  --flow-inset: 1.5em;
  --flow-space: 0.75em;
  --list-display: list-item;
  @extend %body;
  flex: 1;
  margin: 0 var(--space-block-medium);
  padding: var(--space-block-medium) 0;
}

.article > * {
  max-inline-size: var(--line-measure);
}

.article > * + * {
  margin-block-start: var(--space-block-medium);
}

@media (--from-medium-viewport) {
  .article {
    padding-left: calc(var(--size-icon-small) + var(--space-inline-small) + var(--inset-small));
  }
}

.article__title {
  @extend %title;
  padding-block-end: var(--space-block-medium);
}

.article__parent {
  @extend %label;
  color: var(--color-neutral);
  display: block;
  font-weight: 500;
  padding-block-end: var(--space-block-xsmall);
}

.article h3 {
  @extend %heading;
  margin-block-start: var(--space-block-large);
}

.article h4 {
  @extend %subhead;
  --flow-space: var(--space-block-xsmall);
}

.article pre {
  --flow-space: var(space-block-medium);
  background-color: var(--color-neutral-lightest);
  border-radius: var(--border-radius-small);
  margin: var(--space-block-small) 0;
  padding: var(--inset-small);
  overflow: scroll;
  max-inline-size: auto;
}

.article pre code {
  background-color: none;
  padding: 0;
}

.article dt {
  font-weight: 500;
}

.article dl,
.article ol,
.article ul {
  padding: 0;
}

.article code,
.article samp {
  border-radius: var(--border-radius-small);
  hanging-punctuation: none;
}

.article code {
  background-color: var(--color-neutral-lightest);
  padding: var(--inset-small-squished);
}
