.banner {
  background-color: var(--color-neutral-lightest);
  margin-block-start: calc(var(--border-width-thin) * -1);
  padding: var(--space-block) var(--space-inline-medium);
}

.banner--success {
  background-color: var(--color-success);
}

.banner > * + * {
  margin-block-start: var(--space-block-xsmall);
}

.banner__body {
  @extend %reference;
  align-items: center;
  display: flex;
}

@media (--from-medium-viewport) {
  .banner__body {
    padding-left: calc(var(--size-icon-small) + var(--space-inline-small) + var(--inset-small));
  }
}

.banner__icon {
  margin-inline-end: var(--space-inline-small);
}
