.summary {
  --flow-inset: 0;
}

.summary > * + * {
  margin-block-start: var(--space-block-small);
}

.summary__row {
  border-block-end: var(--border-width-thin) solid var(--color-neutral-light);
  line-height: var(--line-height-tight);
}

@media (--from-small-viewport) {
  .summary__row {
    display: flex;
  }
}

.summary__key {
  flex: 1;
  padding-block-end: var(--space-block-small);
  padding-inline-end: var(--space-inline);
}

.summary__value {
  color: var(--color-neutral-dark);
  flex: 2;
  padding-block-end: var(--space-block-small);
  padding-inline-end: var(--space-inline);
  word-break: break-all;
}

.summary__actions {
  margin-inline-start: auto;
}
